body{
    background: green;
    align-content: center;
}
h1{
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
}
input{
    width: 10%;
    display: block;
    padding: 15px;
}
.details{
    display: block;
}